<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.ayd.server.dao.BookDao">

    <select id="selectBook"  resultType="com.xx.ayd.entity.Book">
        select bookname,details,writer,imgurl from wode.a_books where bookid=#{bookid}
    </select>

</mapper>
